html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.box {
    background: #efefef;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: background-color 0.2s;
}

.box:hover {
    background: #7d2ae8;
}

.box.disabled {
    pointer-events: none;
    color: #a3a3a3;
}

#restart {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

button {
    color: #fff;
    margin-top: 20px;
    padding: 8px 22px;
    border-radius: 5px;
    background: #7d2ae8;
    transition: background-color 0.2s;
}

button:active {
    transform: scale(0.9);
}

